@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body, html{
  font-family: 'Play', sans-serif;  
  line-height: 1.3;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

header{
  height: 80px;
}


.navbar-brand{
  font-family: 'Permanent Marker', cursive;  
  font-size: 4vh;  
}

body{
  background-color: rgb(221, 217, 216); 
}


/* ig odkaz */
#reference h1,
#reference p{
  text-align: center; 
  color: #000;
  font-weight: 700;
}

#reference h1{
  padding-top: 50px;
  padding-bottom: 50px;
}

#reference p{
  padding-bottom: 80px;
  
}

.ig-img{  
  height: auto;
  width: 80vw;
  max-width: 780px;   
}
/* ig odkaz */


/* clanky */

#clanky{
  padding: 15px;  
}

.card{ 
  height: 300px;   
  min-width: 330px;  
  -webkit-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.57); 
  box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.57);
 }

 .pad{
  padding-bottom: 25px;
 }

 .card-img {
  height: 300px;
  object-fit: cover;
 }

 .card-text {
   position: absolute;
   color: white; 
   z-index: 3;
   text-align: center;
   bottom: 25px;
   right: 25px;   
   left: 25px;
   
 }

 .card-text a {
   text-decoration: none;
   color: white;    
   font-weight: 700; 
 }

 .card-text a:hover{
   text-decoration: underline;
 }

 #clanky h1{
   padding-top: 50px;
   font-weight: 700;
 }

 #clanky hr{
   margin-bottom: 25px;
 }

 /* clanky */



/* FOOTER */

 .footer_top{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(100, 100, 100);  
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 50px 0px;
}

.btn{
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family:'Play', sans-serif;
  text-align: center;  
}

.newsletter-footer label{
  font-family: 'Play' , sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.text-center{
  text-align: center!important;
}

.form-control{
  margin: 15px 0px;  
  max-width: 400px;    
}


.footer-box-text a {
  text-decoration: none;
  color: rgb(99, 94, 94);  
  font-weight: lighter;
}

.footer-box-text li{
  list-style: none;
  position: relative;  
  padding-bottom: 15px;
  text-align: left;
}

.footer-box-text ul{
  padding: 0;
}

.footer-box-text a:hover{
  text-decoration: underline;
}

.telefon {
  margin-bottom: 0;
  margin-top: 20px;
}

.footer-nadpis, 
.third p, 
.third a{
  font-weight: 700;
}

/* FOOTER */




/* carousel */
.carousel-item {
  height: 80vh;
  
}

.carousel-item > img {
  object-fit: cover;  
  min-width: 100%;
  height: 80vh;
  
}

.carousel {
  margin-bottom: 100px;
}

.carousel h1, .carousel p{
  font-weight: 700;
}



/* produkty */

#produkty{
  padding: 15px;  
}

#produkty h1{
  padding-top: 25px;  
  font-weight: 700;
}

#produkty h2{
  margin-top: 80px;
  font-weight: 700;
 
}

#produkty h3{
  font-weight: 700;
}

.produkt-img{
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  max-width: 100%;    
}

.border_pro{
  border: 1px solid rgb(216, 203, 203);
}

.border_pro:hover{
   border: 1px solid #000;
}

.color img{
  border-radius: 50%;
  padding: 1px;
}

.produkt-text {   
   color: #000;    
   text-align: center;
   margin-bottom: 15px;
 } 

.produkt-text p{
   color: rgb(77, 77, 77);
   font-size: 15px;
   
}

.produkt-text a {
   text-decoration: none;
   color: #000;     
 }

.produkt-text a:hover{
   text-decoration: underline;
 }
 

 
/* single produkt */ 

#single_produkt{
  padding: 25px;
}

#single_produkt h1{
  font-weight: 700;  
  padding-bottom: 50px;
}

.popis{
  line-height: 30px;
  padding-bottom: 50px;
}

.velikost {  
  font-weight: 700; 
  font-size: 20px;  
}

.cena{
  font-weight: 700;  
  padding-top: 45px;
  padding-bottom: 15px;
  font-size: 40px;
}

.objednávky h2{
  font-weight: 700;
  padding-bottom: 15px;
}

.objednávky p{
  font-size: 20px;
  font-weight: 700;
}

.objednávky a{
  text-decoration: none;
  color: rgb(99, 94, 94);  
  font-weight: 700;
}

.produkt_cislo{
  font-size: 25px;
}

#MainImg{
  padding-bottom: 25px;
}

.small-img-row{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;

}

.small-img-col{  
  flex-basis: 24%;  
  cursor: pointer;
}

.small-img-col img{
  padding: 0px;
}

/*doprava a platba*/

#doprava-a-platba h1, #doprava-a-platba h2{
  font-weight: 700;
  padding: 25px 0px;
}

.table td, .table th{
  vertical-align: top;
  line-height: 1.7;
  border: 1px solid #a8a8a8;
}


/*reklamace*/

.reklamace h1, .reklamace h2{
  font-weight: 700;
  padding: 25px 0px;
}

/* kontakt */ 


#kontakt{
 padding-bottom: 100px;
}

#kontakt h1{
  font-weight: 700;
  padding-top: 50px; 
}

#kontakt hr{
  margin-bottom: 50px;
}

.kontakt-box {
  text-align: center;
}

.kontakt-box-text a {
  text-decoration: none;
  color: rgb(99, 94, 94);  
  font-weight: lighter;
}

.kontakt-box-text li{
  list-style: none;
  position: relative;  
  padding-bottom: 15px;
  text-align: left;
  text-align: center;
}

.kontakt-box-text ul{
  padding: 0;
}

.telefon {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 20px;
}
.e-adresa{
  font-weight: 700;
  font-size: 20px;
}

.adresa{
  font-weight: 700;
  font-size: 20px;
}

.kontakt-nadpis{
  font-weight: 700;
  text-decoration: underline;
}

.mapa{
  width: 100%;
  height: 100%;
}
 
/* O nás */ 


.onas h1{
  font-weight: 700;
  padding: 25px 0px;
}

.onas-text{
  max-width: 1080px;
  margin: 15px 150px;
  text-align: center;
}

.onas-text p {
  line-height: 1.8;
  font-size: 18px;
}

.pic1{
  width: 100%;
  padding: 25px;
}


/*cart*/

.kosik img{  
  margin: 0px 15px;
}

.add{
  float: right;
}

.kosik span{  
  position: absolute;  
  text-decoration: none;
  color: rgb(255, 166, 2);
}

.kosik-container{
  justify-content: center;  
}

.kosik-container h1{
    font-weight: 700;
    margin-top: 50px;
}

.kosik-container hr{
  margin-bottom: 50px;
}


.container-nadpis{  
  max-width: 970px;
  display: flex;
  margin: 0px 15%;
  justify-content: flex-start;
  border-bottom: 2px solid #a8a8a8;
  
}

.kosik-produkt{
  width: 45%;
  font-weight: 700;
}

.kosik-cena{
  width: 35%;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.kosik-mnozstvi{
  width: 45%;
  font-weight: 700;
}
.kosik-celkem{
  font-weight: 700;
}


.container-produktu{  
  max-width: 970px;
  justify-content: space-around;
  margin: 0 15%;
  margin-top: 25px;
}

.produktPic{
  max-width: 100px;
  width: 20%;
  padding: 10px;
}

.produkt-kosik {
  border-bottom: 1px solid #a8a8a8;
  display: flex;
  justify-content: space-around;
}

.nazev,
.cena-zbozi,
.mnozstvi,
.celkem {
  padding: 5% 0;
  font-size: 1rem;
  
}
.nazev{
  width: 35%; 
}
.cena-zbozi{
  width: 35%;  
}
.mnozstvi{
  width: 45%;  
}

.kosikCelkove{
  text-align: end;  
  padding-bottom: 50px;
  padding-top: 25px;
}

.kuhrade{
    width: 30%;  
}

.kosikCelkoveNadpis{
  width: 70%;
  font-weight: 700;
}

.del{  
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}













/* RESPONSIVE CSS */

@media screen and (max-width: 767px) {  
    

  .footer-box-text p, 
  .footer-box-text strong, 
  .footer-box-text li,
  .footer-nadpis {
    text-align: center;
  }

  .produktPic{
    display: none;
  }

  .container-nadpis{
    margin: 0 2%;
  }

  .container-produktu{
    margin: 2%;
  }

  .container-nadpis h4{
    font-size: 1rem;   
  }

  .nazev,
  .cena-zbozi,
  .mnozstvi,
  .celkem {
    padding: 5% 0;
    font-size: 1rem;  
  } 

  #MainImg{
    width: 100%;
  }
  
  .small-img-row{
    width: 100%;
  }
 
}

@media screen and (max-width: 450px) {  
  .btn {
    max-width: 140px;
    max-height: 65px;
    padding: 5px 10px;
  }
  header{
    height: 62px;
  }
    
  .navbar-brand img{
    display: none;
  } 

}
 

@media screen and (max-width: 1200px){ 


  .kosik span{
    right: 8px;
  }

  .card{ 
    height: 300px;     
    max-width: 510px;     
   }
  
   .card-img {    
    max-width: 510px;
    height: 300px;    
   }
 
  
  .onas-text{   
    margin: 15px 25px;    
  } 
 


}

